{% extends "base.html" %}
{% block title %}
Youtube Playlist Enhanced
{% endblock %}

{% block content %}
<div class="container">

	<div class="mb-2 mt-3 ">
		<p class="fw-bold text-center fs-1"><a  href="/" style="color: black;text-decoration:none;"> YouTube Playlist Enhanced </a></p>		
	</div>

	<div class="row mt-3">	
		<div class="card mb-3 mt-5 border-0 rounded shadow-sm">	
					
					<div class="row mb-3 mt-3 my-auto">
						<img src="{{channel['img']}}"  class="rounded-circle float-left col-2" style="width: 7rem;">
				    	<h5 class="card-title mt-3 col-2">{{channel['channel_title']}}</h5>
					</div>
					
					<div class="row mb-3 mt-3">	
				    	<p class="card-body mt-3">{{channel['channel_description']}}</p>
				    </div>

				    <div class="row mb-3 mt-3 ">
				    	<div class='col-2'>
				    		<a href="https://www.youtube.com/channel/{{channel['_id']}}" class="btn btn-primary">YouTube Page</a>
				    	</div>
				    </div>
		</div>
	</div>	

	<div class="row" id='playlist-container'></div>

</div>

<script type="text/javascript">

	function createShortPlaylistCard(playlistData){

		let imgUrl = playlistData['url_img'];
		let playlistId = playlistData['_id'];
		let playlistTitle = playlistData['playlist'];

		var newCard = document.createElement("div");
		newCard.className = 'col-md-3 p-2 mt-2';
		newCard.innerHTML = `
			<div class="card">
				<img class="card-img-top" src="${imgUrl}" alt="Card image cap">
				<div class="card-body">
					<p class="card-text">${playlistTitle}</p>
				</div>
				<a href="/p/${playlistId}" class="stretched-link"></a>
			</div>
		`
		return(newCard)
	}
	
	const test = {{channel['_id']|tojson}};
	const xhr = new XMLHttpRequest();
	xhr.responseType = "json";
	xhr.open('GET','HTTP://'+window.location.host +'/api/p/'+test);
		       
	xhr.onload = function(){ 
		var response = xhr.response ;
		const elem = document.getElementById('playlist-container');	
		response.forEach(result => {
			elem.append(createShortPlaylistCard(result))
		});	
 	}
 	xhr.send();

</script>
{% endblock %}