{% extends "base.html" %}
{% block title %}
Youtube Playlist Enhanced
{% endblock %}

{% block content %}
	<div class="container">

		<div class="mb-3 mt-5 ">
			
			<p class="fw-bold text-center fs-1">YouTube Playlist <br> Enhanced</p>
			
		</div>

		<div class="mb-3 mt-3">		
		  	<form>
			    <label for="searchPlaylist" class="form-label">Search for a playlist</label>
			    <input class="form-control" id="searchPlaylist" aria-describedby="searchHelp">
			    <div id="searchHelp" class="form-text">example: python, react ...</div>
			</form>
		</div>

		
		<div class="container mb-3 mt-3" id="div-container">
		</div>


		  
	</div>

	<script type="text/javascript">
		
		const typing = document.getElementById('searchPlaylist')

		typing.addEventListener('input', function (evt) {


			elem = document.getElementById('div-container') 
			elem.innerHTML = ""
			var val = this.value
			
			if (val != '') {



		        const xhr = new XMLHttpRequest()
		        xhr.responseType = "json"
		        xhr.open('GET','HTTP://'+window.location.host +'/api/'+val)
		       
		        xhr.onload = function(){ 
		          
		          var response = xhr.response ;
		        
		          if (response.length>0){

		    		for (var i = 0; i < 7; ++i) {
		    			
		  				var htmlString = `
		  				<div class="row"> 
		  					<div class="card mb-3 mt-3 ml-3">
			  					<div class="row">
				  					<img src="${response[i]['img']}"  class="rounded float-left col-2 mt-2 " style="width: 5rem;">
				  					<h6 class="card-title col-6 mt-4"> ${response[i]['channel_title']} </h6> 
				  				</div>
				  				<div class="row">
			  						<div class="card-body " id="res5"> ${response[i]['channel_description']} </div>
			  					</div>
			  					<div class="row">
			  						<div class="float-right"><a role="button" class="btn btn-primary btn-sm col-1 m-2" href="/c/${response[i]['_id']}" >Channel page </a></div>
			  					</div>
		  					</div>
		  				</div>`
		  				var div = document.createElement('div');
						div.innerHTML = htmlString.trim();
		  				elem.appendChild(div.firstChild)
					}
				  }

		        }
		        xhr.send();

		        








			}
    		
		});


	</script>
{% endblock%}