{% extends "base.html" %}
{% block title %}
Youtube Playlist Enhanced
{% endblock %}

{% block content %}
	<div class="container">

		<div class="row mb-1 mt-4 ">	
			<p class="fw-bold text-center fs-1"><a  href="/" style="color: black;text-decoration:none; "> YouTube Playlist <br> Enhanced </a></p>
			<img src="{{ url_for('static', filename='img/undraw_online_video.svg')}}"  class="mx-auto d-block mt-2"  style="width: 24rem;">
		</div>

		<div class="row justify-content-center">
			<div class="col-md-10 mb-2 mt-1 ">		
				<label for="searchPlaylist" class="form-label" style="font-size: 1.05rem;">Search for a playlist</label>
				<input class="form-control" name="search" type="search" id="searchPlaylist" aria-describedby="searchHelp">
				<div id="searchHelp" class="form-text" style="font-size: 0.8rem;">example: python, react ...</div>
			</div>
		</div>

		<div class="container mb-3 mt-3" id="div-container"></div>

	</div>

	<script type="text/javascript">
		
		const typing = document.getElementById('searchPlaylist')

		typing.addEventListener('input', function (evt) {

			elem = document.getElementById('div-container') 
			elem.innerHTML = ""
			var val = this.value
			
			if (val != '') {

		        const xhr = new XMLHttpRequest()
		        xhr.responseType = "json"
		        xhr.open('GET','HTTP://'+window.location.host +'/api/s/'+val)
		       
		        xhr.onload = function(){ 
		          
		          var response = xhr.response ;
		        
		          if (response.length>0){
		          	
		    		for (var i = 0; i < response.length; i++) {
		    			
						var description_string = response[i]['description'];
						var desc = description_string.split('.'); 
						var views = response[i]['vues'].replace('vues','')
						var formatted_views = parseInt(views).toLocaleString()

						var playlist_id = response[i]['_id']
						
		  				var htmlString = `
		  				<div class="row justify-content-center"> 
		  					
		  					<div class="col-md-10 card mb-3 mt-2 border-0 rounded shadow-sm">
			  					
				  					<h5 class="card-title mt-1 mb-2">${response[i]['playlist']} </h5> 
				  				
				  				<div class="row mb-2 justify-content-center">

				  					<div class="col-md-4 pr-3">
				  						<img src="${response[i]['url_img']}"  class="rounded border"  style="width: 14rem;">
				  					</div>
				  					
				  					<div class="col-md-2 my-auto">
				  						
					  						<p class="text-center align-middle h3" > ${formatted_views} <i class="material-icons">&#xe8f4;</i></p>
					  						
					  					
				  					</div>

				  					<div class="col-md-2 my-auto">
				  						
				  						<p class="text-center align-middle h3" >${response[i]['nbr_videos']} <i class="material-icons">video_library</i></p>
				  						
				  					</div>

				  					<div class="col-md-2 my-auto">
				  						
				  						<p class="text-center align-middle h3" >${response[i]['playlist_duration']} <i class="material-icons">schedule </i></p>
				  						
				  					</div>

				  				<a href="/p/${playlist_id}" class="stretched-link"></a>

			  					</div>
			  					
			  					
		  					</div>
		  				</div>`

		  				var div = document.createElement('div');
						div.innerHTML = htmlString.trim();
		  				elem.appendChild(div.firstChild)
					}
				  }

		        }
		        xhr.send();

		        
			}
    		
		});


	</script>


{% endblock%}