{% extends "base.html" %}
{% block title %}
Youtube Playlist Enhanced
{% endblock %}

{% block content %}
<div class="container">
	
	<div class="mb-2 mt-3 ">	
		<p class="fw-bold text-center fs-1"><a  href="/" style="color: black;text-decoration:none; font-family: 'Open Sans', sans-serif; color: #3A3A3C; font-size: 2.5rem;"> Youtube Playlist Enhanced </a></p>		
	</div>
	
	<div class="row mt-3">	
		<div class="card mb-2 mt-5 border-0 rounded shadow-sm">	
					
					<div class="row mt-2">
						<div class='col-6 '>
				    		<h4 class="card-body mb-0 mx-3">{{data['playlist']}}</h4>
				    	</div>
					</div>
			
					<div class="row">	
						<div class='col-8'>
				    		<p class="card-body mt-0  mx-3">{{data['description']}}</p>
				    	</div>
				    </div>

				    <div class="row">
				    	<div class="row mb-2 mt-2 justify-content-center">
				  							
				  					<div class="col-md-3 my-auto border rounded m-3">
					  					<p class="text-center align-middle h3 my-3 " id='nb-views'> {{ data['vues']}} <i class="material-icons">&#xe8f4;</i></p>
					  					<div class="form-text text-center mb-2" style="font-size: 0.8rem;">Views</div>
				  					</div>

				  					<div class="col-md-2 my-auto border rounded m-3">
				  						<p class="text-center align-middle h3 my-3 " >{{data['nbr_videos']}} <i class="material-icons">video_library</i></p>
				  						<div class="form-text text-center mb-2" style="font-size: 0.8rem;">Videos</div>	
				  					</div>

				  					<div class="col-md-2 my-auto border rounded m-3">
				  						<p class="text-center align-middle h3 my-3" >{{playlist_duration}} <i class="material-icons">schedule </i></p>
				  						<div class="form-text text-center mb-2" style="font-size: 0.8rem;">Duration</div>	
				  					</div>

				  					<div class="col-md-3 my-auto border rounded m-3">
				  						<p class="text-center align-middle h3 my-3" >{{data['derniere_maj']}} <i class="material-icons">calendar_today </i></p>
				  						<div class="form-text text-center mb-2" style="font-size: 0.8rem;">Last update</div>	
				  					</div>
				  				
			  			</div>

			  			<div class="row justify-content-center">
			  				<div class="col-md-5 border rounded m-3 p-4 justify-content-center" id='sentiment_container'>
						    		
						    	</div>
			  			</div>

				  		<div class="row">
						    <div class="row mb-3 mt-5 justify-content-center " id="graph">
						    	<div class="col-md-5 border rounded m-3 p-4" id='views_container'>
						    		<canvas id="views_graph"></canvas>
						    	</div>
						    	<div class="col-md-5  border rounded m-3 p-4 justify-content-center " id='likes_container'>
						    		<canvas id="likes_graph"></canvas>
						    	</div>	
						    </div>
						</div>

				    </div>

				    <div class="row mb-3 mt-3">
				    	<div class='col-3'>
				    		<a href="https://www.youtube.com/playlist?list={{data['_id']}}" class="btn btn-primary">YouTube Link</a>
				    		<a href="/c/{{ data['id_youtubeur']}}" class="btn btn-primary">YouTuber Page</a>
				    	</div>
				    </div>

		</div>
	</div>	

</div>

<script type="text/javascript">

	var views = document.getElementById('nb-views');
	var viewsContent = views.innerHTML;
	var formatted_views = parseInt(viewsContent).toLocaleString() + ' <i class="material-icons">&#xe8f4;</i>';
	views.innerHTML = formatted_views;

	var sentimentScore = {{data['sentiment_score']|tojson}}

	document.getElementById('sentiment_container').innerHTML = `
	<h3 class='text-center'> Playlist Quality Score * </h3> 
	<h3 class='text-center'>${sentimentScore.toFixed(3)}</h3>
	<div class="form-text text-center" style="font-size: 0.8rem;">*based on comments analysis, from 0 to 1</div>`;

	const graph_data = {{data['graph_data']|tojson}};
	
	var data1 = {
		"labels" : graph_data['dates'],
		"values": graph_data['views'],	
	}

	var VC = createViewChart('views_graph',data1,'views_container');

	var data2 = {
		"labels" : graph_data['dates'],
		"values": graph_data['likes'],
		"values2": graph_data['dislikes'],
	}

	var LC = createLikesChart('likes_graph',data2,'likes_container');
	
</script>
{% endblock %}